#navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(146, 161, 175, 0.15);
}

#navbar .logo {
  font-size: 30px;
  font-weight: 600;
  justify-content: left;
  padding-left: 60px;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
  color: #000;
}

/* login section */

#firstContent {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 80px;
}

#secondContent {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 80px;
}

.registartion_page {
  flex: 45%;
  border: 3px solid #f1f1f1;
  padding: 30px 20px;
  width: 40%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}
.register_page_clone {
  flex: 45%;
  border: 3px solid #f1f1f1;
  padding: 30px 20px;
  width: 40%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}

.another_page {
  flex: 45%;
  border: 3px solid #c5bcbc;
  width: 40%;
  margin-left: 20px;
  height: 250px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  /* display: block;
  margin: 0 auto; */
}
.another_page_clone {
  flex: 45%;
  border: 3px solid #c5bcbc;
  width: 40%;
  margin-left: 20px;
  height: 250px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  /* display: block;
  margin: 0 auto; */
}

.userclass,
.emailclass,
.passclass {
  width: 80%;
  padding: 15px 20px;
  margin: 10px 25px 25px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.125rem;
}

.regFrom .emailclass {
  margin-bottom: 8px;
}

.regFrom .passclass {
  margin-bottom: 8px;
}
.regFrom .emailspan {
  padding-left: 30px;
}
.registartion_page h2 {
  padding: 10px 10px 20px 30px;
  font-weight: 700;
}
.register_page_clone h2 {
  padding: 10px 10px 20px 30px;
  font-weight: 700;
}
.another_page h2 {
  padding: 30px 10px 20px 30px;
  font-weight: 700;
}
.another_page_clone h2 {
  padding: 30px 10px 20px 30px;
  font-weight: 700;
}
.registartion_page p {
  padding: 0px 10px 25px 30px;
}
.register_page_clone p {
  padding: 0px 10px 25px 30px;
  text-align: justify;
}

.another_page p {
  padding: 0px 10px 25px 30px;
  font-size: 1.235rem;
  font-family: "Times New Roman", Times, serif;
}
.another_page_clone p {
  padding: 0px 10px 25px 30px;
  font-size: 1.235rem;
  font-family: "Times New Roman", Times, serif;
}

.name {
  padding: 0px 10px 20px 30px;
  font-size: 1.225rem;
}
.email {
  padding: 0px 10px 20px 30px;
  font-size: 1.225rem;
}
.pass {
  padding: 10px 10px 20px 30px;
  font-size: 1.225rem;
  margin-top: 20px;
}

.regFrom .pass_span {
  padding-left: 30px;
}

.submit {
  padding: 10px 10px 20px 30px;
}
.submit button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #340252;
  color: #fff;
  font-weight: 400;
  font-size: 1.122rem;
  cursor: pointer;
}

.container {
  padding: 5px 10px 20px 30px;
  text-align: right;
}
.container a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #340252;
  font-weight: bold;
}

#uemail:hover {
  border: 2px solid #340252;
  transition: 0.5s;
}
#upass:hover {
  border: 2px solid #340252;
  transition: 0.5s;
}

.another_page button {
  border: 3px solid #340252;
  padding: 20px;
  font-size: 1.126rem;
  border-radius: 15px;
  color: #340252;
  font-weight: 700;
  margin: 20px 30px;
  cursor: pointer;
}
.another_page_clone button {
  border: 3px solid #340252;
  padding: 20px 40px;
  font-size: 1.126rem;
  border-radius: 15px;
  color: #340252;
  font-weight: 700;
  margin: 20px 30px;
  cursor: pointer;
}

.reset_password {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 235, 235);
  padding: 60px 20px;
}

@media (max-width: 1050px) {
  #firstContent {
    display: block;
  }
  .registartion_page {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .another_page {
    display: block;
    width: 100%;
    margin: 20px auto 20px auto;
  }

  #secondContent {
    display: block;
  }
  .register_page_clone {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .another_page_clone {
    display: block;
    width: 100%;
    margin: 20px auto 20px auto;
  }
}

@media (max-width: 700px) {
  #firstContent {
    margin: 5px;
  }
  #navbar .logo {
    padding-left: 25px;
  }

  #secondContent {
    margin: 5px;
  }
}

@media (max-width: 450px) {
  .registartion_page {
    margin: 0 0 0 0;
    padding: 0;
  }
  .register_page_clone {
    margin: 0 0 0 0;
    padding: 0;
  }

  .registartion_page h2 {
    padding-left: 10px;
    font-size: 1.1111rem;
  }

  .register_page_clone h2 {
    padding-left: 10px;
    font-size: 1.1111rem;
  }
  .registartion_page p {
    padding-left: 10px;
    font-size: 1rem;
  }

  .register_page_clone h2 {
    padding-left: 10px;
    font-size: 1rem;
  }
  .another_page h2 {
    padding-left: 10px;
    font-size: 1.111rem;
  }

  .another_page_clone h2 {
    padding-left: 10px;
    font-size: 1.111rem;
  }

  .another_page_clone p {
    padding-left: 10px;
    font-size: 1rem;
  }
  .another_page p {
    padding-left: 10px;
    font-size: 1rem;
  }
  .email {
    padding-left: 10px;
    font-size: 1rem;
  }
  .pass {
    padding-left: 10px;
    font-size: 1rem;
  }
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 8px 0px 8px 10px;
    margin-left: 5px;
    font-size: 1rem;
  }

  .submit {
    padding-left: 10px;
  }
  .submit button {
    height: 30px;
    width: 100px;
    font-size: 1rem;
  }
  .container {
    padding-left: 10px;
  }
  .container a {
    font-size: 1rem;
  }

  .another_page button {
    margin: 10px 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .register_page_clone h2 {
    padding-left: 10px;
    font-size: 1rem;
  }
  .register_page_clone p {
    padding-left: 10px;
    font-size: 1rem;
  }
  .regFrom .name {
    padding-left: 10px;
    font-size: 1rem;
  }
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 8px 14px;
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .regFrom .email {
    font-size: 1rem;
    padding-left: 10px;
  }
  .regFrom .emailspan {
    padding-left: 12px;
  }

  .regFrom .pass {
    padding-left: 10px;
    font-size: 1rem;
  }
  .regFrom .pass_span {
    padding-left: 12px;
    font-size: 1rem;
    text-align: justify;
  }

  .submit {
    padding-left: 10px;
  }

  .submit button {
    font-size: 1rem;
    width: 90px;
  }

  .another_page_clone h2 {
    font-size: 1rem;
  }
  .another_page_clone p {
    font-size: 1rem;
  }
  .another_page_clone button {
    padding: 12px 20px;
    font-size: 1rem;
    margin-left: 15px;
  }
}

.text:focus,
.text:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
