.write {
  padding-top: 50px;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin: 20px 0px 20px 150px;
  display: flex;
  flex-direction: column;
}

.writeIcon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.writeInput_ {
  font-size: 30px;
  padding: 20px;
  width: 70vw;
  border: none;
  border-bottom: 1px solid #000;
}

.writeInput_:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .write {
    text-align: center;
  }
  .writeForm {
    text-align: center;
    margin: 0 20px;
  }
  .writeImg {
    margin: 0 20px;
  }

  .writeFormGroup {
    margin: 0 auto;
    display: block;
  }

  .writeIcon {
    display: block;
    margin: 0;
  }

  .writeSubmit {
    position: absolute;
    top: unset;
    bottom: -120px;
    right: 40px;
  }

  .fileInput {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .writeInput_ {
    padding: 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 769px) {
  .write {
    width: 100%;
  }

  .writeImg {
    width: 80vw;
  }

  .writeInput_ {
    width: 100%;
  }

  .writeIcon {
    width: 18px;
  }
}
