.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.singlePostEdit {
  float: right;
  font-size: 20px;
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  color: #b39656;
  font-family: "Varela Round", sans-serif;
}

.singlePostDesc {
  color: #000;
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
  border: none;
}

.singlePostDesc:focus {
  outline: none;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

input {
  width: 80%;
  padding: 1rem 0.7rem;
  margin: 20px 0;
}

textarea {
  width: 100%;
  padding: 1rem 0.7rem;
  height: 40vw;
  line-height: 2rem;
}

button {
  margin: 20px 0;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-action {
  display: flex;
  gap: 20px;
}

.btn-action button:nth-child(1) {
  background: teal;
  color: #fff;
  border: none;
}

@media screen and (max-width: 969px) {
  .singlePostWrapper {
    padding: 0;
  }

  .singlePostDesc {
    text-align: justify;
    padding: 10px;
  }
}

@media screen and (max-width: 769px) {
  .singlePostTitle {
    font-size: 18px;
  }
  .singlePostDesc {
    /* overflow: scroll; */
    height: auto;
  }
}

@media screen and (max-width: 469px) {
  .singlePostTitle {
    text-align: justify;
  }
  .singlePostInfo {
    justify-content: flex-start;
    margin-left: 10px;
  }
}
