.search {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.search .child-search {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Search {
  /* padding: 0.6em 0.5em 0.2em 0.5em; */
  width: 500px;
  padding: 15px 15px;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px groove wheat;
  border-radius: 5%;
  display: block;
}

#Search:hover {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

.searchResult {
  flex: 1;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchResult .msg {
  border: 1px solid #000;
  padding: 20px 15px;
}

@media screen and (max-width: 768px) {
  #Search {
    width: 100%;
  }
  .search .real-search {
    width: 100%;
  }
}
